@media only screen and (max-width: 1050px) {
  #datacollection {
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  img[alt="comet"] {
    width: 250px;
    height: 250px;
  }
  #socials {
    grid-template-columns: repeat(2, 7rem);
    grid-template-rows: repeat(3, auto);
  }
  .title {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1115px) {
  #projectTitle {
    font-size: 7rem;
  }
  .project {
    justify-content: unset;
    align-items: center;
  }
  .project > .logo > img {
    width: 50px;
    height: 50px;
  }
  .status {
    display: none;
  }
}

@media only screen and (max-width: 663px) {
  .project {
    width: 95%;
  }
}
