body {
  margin: 0;
  background: #161b22;
  color: #fff;
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.neofetch {
  display: flex;
  flex-direction: column;
  font-size: 1.3vw;
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
  }
  .neofetch {
    font-size: 1.7vw;
  }
}


.item {
  display: flex;
  justify-content: space-between;
  color: #a5d6ff;
}

.key {
  margin-left: 1vw;
  color: #ffa657;
}

.colon {
  color: #a5d6aa;
}
.cc {
  color: #616e7f;
}
