@font-face {
  font-family: "SpaceMono";
  src: url("/SpaceMono-Regular.ttf");
}

body {
  background-color: #050505;
  color: #ffffff;
  font-family: "SpaceMono", monospace;
  margin: 0;

  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
