@import "../vars.scss";

.body{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    place-items: center;
    height: 100vmin;
    filter: opacity(1);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;

    .title{
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        color: $light-purple;
        text-shadow: 0 0 0.5rem $black;
        margin-bottom: 1rem;
    }
    .discord{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 1rem;
}
}
.content{
    background-color: $black;
    color: $light-purple;
    padding: 3rem;
    border-radius: 0.5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    gap: 3rem;

    .text{ text-align: center; }
    .image{ border-radius: 1rem; }
}

.stacks {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    
        .head {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: bold;
            color: $light-purple;
            text-shadow: 0 0 0.5rem $black;
        }
        .stacklist {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
        
            .stack {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: $black;
                padding: 1rem;
                border-radius: 1rem;
                gap: 1rem;
                cursor: pointer;
        
                .icon {
                    padding: 0.5rem;
                    border-radius: 2rem;
                }
                .name {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $light-purple;
                    text-align: center;
                    text-shadow: 0 0 0.5rem $black;
                }
            }
        }
    }
}