@import "../vars.scss";

.body{
    margin-top: 2rem;
    display: grid;
    place-items: center;
    height: calc(100vmin - 2.5rem);
    filter: opacity(1);
}
.title{
    font-size: 2rem;
    font-weight: bold;
    color: $light-purple;
}
.discord{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
}
.projects{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: {
        top: 5rem;
        bottom: 5rem;
    };
    background-color: $black;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
    transition: all 0.25s ease-in-out;
}
.projectTitle{
    font-size: 1.5rem;
    font-weight: bold;
    color: $light-purple;
}
.description{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    color: $light-purple;
    margin: 2rem;
}
.info{
    width: 10rem;
}
.logo{
    border-radius: 2rem;
}
.mover{
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    padding: 1rem;
    background-color: $black;
    transition: all 250ms ease-in-out;
    &:hover{
        background-color: $light-purple;
    }
    img{
        margin-bottom: 10rem;
        margin-top: 10rem;
    }
}
.left{
    transform: rotate(-90deg);
}
.right{
    transform: rotate(90deg);
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.button{
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-weight: bolder;
    color: white;
    border-radius: 2rem;
    background-color: $light-purple;
    &:hover{
        color: $black;
    }
}