---
import Layout from '../layouts/Layout.astro';

function p(name, description) {
  return { name, description };
}

const projects = [
  p("race-sim", "An attempt to make a full race sim with RL models for the drivers and race engineers"),
  p("1.58bitLLM", "An implementation of the 1.58 LLM Experimental Research Idea"),
  p("hacktu-web", "Designed the entire website for HackTU 7.0. https://hacktu.ccstiet.com"),
  p("sat-robot-mesh-network", "An ESP32 mesh network designed to provide the SAT Robot (built by PLEX) with continuous internet access in spots without internet"),
  p("stockchain", "A custom blockchain, implemented for trading"),
  p("f1-elo-engine", "An ELO system for ranking Formula One Drivers, on a lap by lap basis"),
  p("hacktu7.0", "Organised HackTU 7.0, with 500+ participants, 10+ judges from across the globe & 5 lakhs in prizes"),
];
---

<Layout>
  <div class="projects">
    {projects.map(project => (
      <div class="project">
        <div class="cmd">
          <div class="carot">></div>
          <div class="bin">cat</div>
          <div class="file">{project.name}.txt</div>
        </div>
        <div class="content">{project.description}</div>
      </div>
    ))}
  </div>
</Layout>

<style>
  .projects {
    width: 80vw;
  }
  .project {
    display: flex;
    width: 80vw;
    flex-direction: column;
    gap: 0.2rem;
    background-color: #11111b;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .cmd {
    display: flex;
    gap: 0.5rem;
    font-size: 1.2rem;
  }
  .carot {
    color: #a5d6ff;
  }
  .bin {
    color: #ffa657;
  }
  .file {
    color: #a6e3a1;
  }
  .content {
    font-size: 1.05rem;
  }
</style>
