#navbar{
  width: var(--navbar-width);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-purple);
  
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: ease var(--navbar-speed) all;
  
  &:hover{
    width: 16rem;

    &:hover{
      
      .item>span{
        display: block;
      }
    }
    
    .arrow>img{
      transform: rotate(0deg);
    }
  }
}
.arrow{
  margin-bottom: auto;
  
  &>img{
    transform: rotate(180deg);
    transition: ease var(--navbar-speed) all;
  }
}
.contact{
  margin-top: auto;
}
.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: calc(var(--navbar-width) / 4);
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
  
  &>span{
    display: none;
    font-size: large;
    font-family: 'Ubuntu';
    font-weight: bolder;
    color: var(--light-purple);
  }

  &:hover{
    background-color: var(--background);
  }
}