<div class=navbar>
  <ul class=navbar_nav>
    <li class=nav_item>
      <a href="#" class=nav_link>
        <img class=arrow src='/assets/sidebar/Arrow.svg' width="50" height="50" alt="arrow" />
        <span class=nav_link_text>FloatingComet62</span>
      </a>
    </li>
    <div class=center>
      <li class=nav_item>
        <a href="#" class=nav_link>
          <img src='/assets/sidebar/Home.svg' width="50" height="50" alt="home" />
          <span class=nav_link_text>Home</span>
        </a>
      </li>
      <li class=nav_item>
        <a href="#" class=nav_link>
          <img src='/assets/sidebar/Projects.svg' width="50" height="50" alt="projects" />
          <span class=nav_link_text>Projects</span>
        </a>
      </li>
      <li class=nav_item>
        <a href="#" class=nav_link>
          <img src='/assets/sidebar/About me.svg' width="50" height="50" alt="aboutme" />
          <span class=nav_link_text>About Me</span>
        </a>
      </li>
    </div>
    <li class=nav_item>
      <a href="#" class=nav_link>
        <img src='/assets/sidebar/Contact.svg' width="50" height="50" alt="contact" />
        <span class=nav_link_text>Contact</span>
      </a>
    </li>
  </ul>
</div>
