

:root{
  --dark-purple: #382037;
  --light-purple: #8843A0;
  --background: #242424;
  --navbar-width: 6rem;
  --navbar-speed: 150ms;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', serif;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@-moz-document url-prefix() {
  html{
    scrollbar-width: none;
  }
}
body {
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}