

:root{
  --dark-purple: #382037;
  --light-purple: #8843A0;
  --navbar-width: 6rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar-track{
  width: 0;
}
