<div class="body">
    <div id="msg">
        Welcome to {{ Domain }}<br>Profile Website of FloatingComet62
    </div>
    <div class="spotify" *ngIf="Spotify.isplaying">
        <img src="/assets/Spotify.svg" alt="spotify" width="50" height="50">
        <div>
            <a href="{{ Spotify.link }}">{{ Spotify.name }}</a>
            {{ Spotify.artist }}
        </div>
    </div>
    <img src='/assets/discord/{{ Discordstatus }}.svg' alt="{{ Discordstatus }}" width="300" height="300" />
</div>