@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #202020;
    color: #fff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.mantine-InputWrapper-label {
    font-size: x-large;
}
.mantine-TagsInput-input {
    font-size: large;
    border: none;
    background-color: #101010;
}
.mantine-Popover-dropdown {
    background-color: #101010;
    border: none;
}
.mantine-TagsInput-options {
    font-size: large;
    background-color: #101010;
}
.mantine-TagsInput-option:hover {
    background-color: #151515;
}