html, body {
  overflow-x: hidden;
}

body {
  margin-top: 10vh;
  background: #161b22;
  color: #fff;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  gap: 2rem;
}
a {
  font-size: 1.5rem;
  color: #a5a6ff;
  text-decoration: none;
  margin-bottom: 3rem;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.neofetch {
  display: flex;
  flex-direction: column;
  font-size: 1.3vw;
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
  }
  .neofetch {
    font-size: 2.5vw;
  }
  a {
    font-size: 3rem;
  }
}


.item {
  display: flex;
  justify-content: space-between;
  color: #a5d6ff;
}

.key {
  margin-left: 1vw;
  color: #ffa657;
}

.colon {
  color: #a5d6aa;
}
.cc {
  color: #616e7f;
}

/* Modern browsers */
@supports (scrollbar-width: thin) {
  body {
    scrollbar-width: thin;
    scrollbar-color: #a5d6aa #1f1f1f;
  }
}

/* Legacy browsers (WebKit) */
@supports selector(::-webkit-scrollbar) {
  body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  body::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background: #a5d6aa;
    border-radius: 10px;
  }
}
